body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.userButton {
  display: flex;
  margin-left: 15px;
}

.divider {
  border: solid 2px red;
  margin-top: 100px;
}

.simpleTable {
  display: flex !important;
  margin-left: -125px !important;
}

.simple {
  margin-left: -125px !important;
}